output
eda-fia
bin
catalogo-fia
lab-eda/kafka-net/.vs

lab-eda/kafka-net/.classpath
LAB-EDA/KAFKA-NET/.dockerignore
LAB-EDA/KAFKA-NET/.env
LAB-EDA/KAFKA-NET/.git
LAB-EDA/KAFKA-NET/.gitignore
LAB-EDA/KAFKA-NET/.project
LAB-EDA/KAFKA-NET/.settings
LAB-EDA/KAFKA-NET/.toolstarget
LAB-EDA/KAFKA-NET/.vs
LAB-EDA/KAFKA-NET/.vscode
LAB-EDA/KAFKA-NET/*.*proj.user
LAB-EDA/KAFKA-NET/*.dbmdl
LAB-EDA/KAFKA-NET/*.jfm
LAB-EDA/KAFKA-NET/azds.yaml
LAB-EDA/KAFKA-NET/bin
LAB-EDA/KAFKA-NET/charts
LAB-EDA/KAFKA-NET/docker-compose*
LAB-EDA/KAFKA-NET/Dockerfile*
LAB-EDA/KAFKA-NET/node_modules
LAB-EDA/KAFKA-NET/npm-debug.log
LAB-EDA/KAFKA-NET/obj
LAB-EDA/KAFKA-NET/secrets.dev.yaml
LAB-EDA/KAFKA-NET/values.dev.yaml
